.movie-poster {
    width: 125px;
    height: 200px;
    padding: 0px 0px;
}

.movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10 px;
}

nav {
    display: flex;
    justify-content: left;
    margin: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0px;
    background-color: #ccc;
}

nav ul li {
    margin: 10px 10px;
    list-style-type: none;
    border-radius: 10%;
    border-color: black;
}

nav ul li a {
    text-decoration: none;
    color: black;
    background-color: #ccc;
    padding: 7px;
}

nav ul li a:hover {
    background-color: #f9f9f9;
    color: black;
}







